
{% extends "layout.html" %}
{% block body %}

<!-- Header -->
	<header id="header">
		<a href="{{ url_for('welcome') }}" class="logo"><strong>Catija's</strong> Cookbook</a>
	</header>

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>Welcome to the recipe collection!</h1>
				<p>Derived from many sources.</p>
			</header>
			<p>
				This is a collection of recipes derived form many sources, lightly modified,
				and tested at home.
			</p>
			<ul class="actions">
				<li><a href="#" class="button big">Learn More</a></li>
			</ul>
		</div>
		<span class="image object">
			<img src="{{ url_for('static', filename='images/kitchen_right.jpg') }}" alt="" />
		</span>
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Frequently Made</h2>
		</header>
		<div class="features">
			<article>
				<span class="icon fa-cutlery"></span>
				<div class="content">
					<h3>Skillet Pasta</h3>
					<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				</div>
			</article>
			<article>
				<span class="icon fa-glass"></span>
				<div class="content">
					<h3>Cornbread</h3>
					<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				</div>
			</article>
			<article>
				<span class="icon fa-coffee"></span>
				<div class="content">
					<h3>Pasta Sauce</h3>
					<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				</div>
			</article>
			<article>
				<span class="icon fa-shopping-cart"></span>
				<div class="content">
					<h3>Bison Stew</h3>
					<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
				</div>
			</article>
		</div>
	</section>

<!-- Section -->
	<section>
		<header class="major">
			<h2>Recent Additions</h2>
		</header>
		<div class="posts">
            {% for recipe in recipes %}
                <article>
                    <a href="{{ url_for('show_recipe', recipe_id=recipe.id) }}" class="image"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></a>
                    <h3>{{ recipe.name }}</h3>
                    <p>{{ recipe.description }}</p>
                    <ul class="actions">
                        <li><a href="{{ url_for('show_recipe', recipe_id=recipe.id) }}" class="button">More</a></li>
                    </ul>
                </article>
            {% endfor %}
		</div>
	</section>

{% endblock %}