{% extends "layout.html" %}

{% block header %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% endblock %}

{% block body %}

<!-- Header -->
    <header id="header">
        <a href="{{ url_for('welcome') }}" class="logo"><strong>Catija's</strong> Cookbook</a>
    </header>

<!-- Content -->
    <section>
        <header class="main">
            <h1>{{ recipe.name }}</h1>
            {% if recipe.source_url %}
                <p>Source: <a href="{{ recipe.source_url }}"> {{ recipe.source }} </a></p>
            {% elif recipe.source %}
                <p>Source: {{ recipe.source }}</p>
            {% endif %}
        </header>

        <div class="row">
            <div class="12u 12u$(large)">
                <p>{{ recipe.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="6u 12u$(small)">
                <h2>Ingredients</h2>
                <table>
                    {% for ingredient in recipe.ingredients %}
                        <tr>
                            <td align="right" width="10%">{{ ingredient.amount_fract if ingredient.amount else '' }}</td>
                            <td>{{ ingredient.amount_units if ingredient.amount_units else '' }} {{ ingredient.name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="6u$"><span class="image fit"><img src="{{ url_for('static', filename='images/kitchen_left.jpg') }}" alt="" /></span></div>
        </div>

        <h2>Instructions</h2>

        <ol>
            {% for step in recipe.steps %}
                <li>{{ step.description }}</li>
            {% endfor %}
        </ol>

        {% if recipe.total_served %}
        <p>SERVES {{ recipe.total_served }}</p>
        {% endif %}

    </section>



	<section>
        <div class="row">
            <div class="8u 12u$(medium)">
                <h2>Notes</h2>
            </div>
            <div class="4u 12u$(medium)" align="right">
            </div>
        </div>
        <div id="notes_section">
        {% for note in recipe.notes %}
            <div id="note_{{note.id}}">
                <header class="major">
                    <h3>
                        Added {{ note.create_date | datetime}}
                    </h3>
                </header>
                <div><p>
                    {{ note.note_text | safe }}
                </p></div>
            </div>
        {% endfor %}
        </div>
        <hr>
        <form method="post"
              action="{{ url_for('new_note') }}"
              enctype="multipart/form-data">
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
            <div class="row uniform">
                <div class="12u 12u$(medium)">
                    <textarea name="new-note" id="new-note" placeholder="Enter your note" rows="6"></textarea>
                </div>
                <div class="12u 12u$(medium)">
                    <ul class="actions">
                        <li>
                            <input id="new_note_submit" type="button" class="special" value="Add New Note" />
                        </li>
                    </ul>
                </div>
            </div>
        </form>

    </section>


<script>
    document.getElementById("new_note_submit").addEventListener("click", submit_with_ajax);

    function submit_with_ajax()
    {
        console.log("Submitting..." + $(this))
        var formElement = $(this).closest('form');
        console.log("Found form element:" + formElement);
        console.log("Found form element:" + formElement.find('[name="new-note"]').val());

        var note_text_element = formElement.find('[name="new-note"]').first();
        var dataObject = { 'new-note': note_text_element.val() };

        $.ajax({
            url: '{{ url_for('api.post_recipe_note', recipe_id=recipe.id) }}',
            type: 'POST',
            contentType: 'application/json',
            // data: JSON.stringify(dataObject),
            data: dataObject['new-note'],
            success: function(result) {
                // window.location.reload(true);
                console.log(result)
                note_text_element.val("");
                add_note(result);
        }
        });
    }

    function add_note(note_json)
    {
        new_note = note_json; //JSON.parse(note_json)

        // What we want is this:
        //
        //    <div id="note_{-{note.id}}">
        //        <header class="major">
        //            <h3>
        //                Added {-{ note.create_date | datetime}}
        //            </h3>
        //        </header>
        //        <div><p>
        //            {-{ note.note_text | safe }}
        //       </p></div>
        //    </div>
        //

        // Official way (modifying the document DOM
        //
        // notes_section = document.getElementById("notes_section")
        //
        // var note_div = document.createElement("div");
        // note_div.id = "note_"+ new_note['id'];
        //
        // var header = document.createElement("header");
        // header.setAttribute("class", "major");
        //
        // var h3 = document.createElement("h3");
        //
        // var text_node = document.createTextNode("Added " + new_note['create_date']);
        //
        // var content_node = document.createElement("p");
        // var content_text_node = document.createTextNode(new_note['note_text']);
        //
        // h3.appendChild(text_node);
        // header.appendChild(h3);
        // note_div.appendChild(header);
        //
        // content_node.appendChild(content_text_node)
        // note_div.appendChild(content_node);
        //
        // document.getElementById("notes_section").appendChild(note_div);

        // Using JQuery to insert HTML

        html_string = "<div id='note_"+ new_note['id'] +"'><header class='major'>"
        html_string += "<h3>Added " + new_note['create_date'] + "</h3></header>"
        html_string += "<p>" + new_note['note_text'] + "</p></div>"
        $('#notes_section').append(html_string);
    }
</script>
{% endblock %}
