{% extends "layout.html" %}

{% block header %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% endblock %}

{% block body %}

<!-- Header -->
    <header id="header">
        <a href="{{ url_for('welcome') }}" class="logo"><strong>Catija's</strong> Cookbook</a>
    </header>

<!-- Content -->
    <section>
        <header class="main">
            <h1>{{ recipe.name }}</h1>
            {% if recipe.source_url %}
                <p>Source: <a href="{{ recipe.source_url }}"> {{ recipe.source }} </a></p>
            {% elif recipe.source %}
                <p>Source: {{ recipe.source }}</p>
            {% endif %}
        </header>

        <div class="row">
            <div class="12u 12u$(large)">
                <p>{{ recipe.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="6u 12u$(small)">
                <h2>Ingredients</h2>
                <table>
                    {% for ingredient in recipe.ingredients %}
                        <tr>
                            <td align="right" width="10%">{{ ingredient.amount_fract if ingredient.amount else '' }}</td>
                            <td>{{ ingredient.amount_units if ingredient.amount_units else '' }} {{ ingredient.name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="6u$"><span class="image fit"><img src="{{ url_for('static', filename='images/kitchen_left.jpg') }}" alt="" /></span></div>
        </div>

        <h2>Instructions</h2>

        <ol>
            {% for step in recipe.steps %}
                <li>{{ step.description }}</li>
            {% endfor %}
        </ol>

        {% if recipe.total_served %}
        <p>SERVES {{ recipe.total_served }}</p>
        {% endif %}

    </section>

	<section>
		<header class="major">
			<h2>Notes</h2>
		</header>
        <div class="row">
            <div class="12u 12u$(large)">

            {% for note in recipe.notes %}
                <div class="panel-heading collapsed" data-toggle="collapse" data-target="#note_{{note.id}}">
                     <h3>
                         <i class="fa fa-fw fa-chevron-down"></i>
                        <i class="fa fa-fw fa-chevron-right"></i>

                        {{ note.create_date }}
                    </h3>
                </div>

                <div id="note_{{note.id}}" class="box collapse">
                    {{ note.note_text | safe }}
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
