{% extends "layout.html" %}

{% block header %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% endblock %}

{% block body %}

<!-- Header -->
    <header id="header">
        <a href="{{ url_for('welcome') }}" class="logo"><strong>Catija's</strong> Cookbook</a>
    </header>

<!-- Content -->
    <section>
        <header class="main">
            <h1>Creamy Mashed Sweet Potatoes</h1>
            <p>Source: Cook's Country December/January 2007</p>
        </header>

        <div class="row">
            <div class="6u 12u$(small)">
                <h2>Ingredients</h2>
                <ul>
                    <li>4 tablespoons unsalted butter, cut into 4 pieces</li>
                    <li>3 tablespoons heavy cream</li>
                    <li>1 teaspoon sugar</li>
                    <li>2 pounds sweet potatoes (2 large or 3 medium), peeled, quartered
                        lengthwise and cut into 1/4 inch slices</li>
                    <li>salt and pepper</li>
                </ul>

                <dl>
                    <dt class="panel-heading collapsed" data-toggle="collapse" data-target="#note2">
                        <i class="fa fa-fw fa-chevron-down"></i>
                        <i class="fa fa-fw fa-chevron-right"></i>
                        Note</dt>
                    <dd id="note2" class="collapse">
                        <p>It is imperative to cut the sweet potato into thin, even slices to ensure perfect cooking.
                        <ol>
                            <li>Quarter each peeled sweet potato lengthwise.</li>
                            <li>Cut each quarter into 1/2-inch slices crosswise.</li>
                        </ol>
                        </p>
                    </dd>
                </dl>
            </div>
            <div class="6u$"><span class="image fit"><img src="{{ url_for('static', filename='images/kitchen_left.jpg') }}" alt="" /></span></div>
        </div>

        <h2>Instructions</h2>

        <ol>
            <li>Combine butter, 2 tablespoons cream, 1/2 teaspoon salt, 1/4 teaspoon pepper,
                sugar, and sweet potatoes in a large saucepan.</li>
            <li>Cook, covered, over low heat untll potatoes are fall-aparet tender, 35 to 40 minutes.</li>
            <li>Off head, add remaining tablespoon cream and mash sweet potatoes with potato masher.</li>
            <li>Serve</li>
        </ol>

        <p>SERVES 4 TO 6</p>

    </section>
{% endblock %}